* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  min-width: 320px;
}

#root {
  background: #4e4949;
  color: #929292;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;  
}

main {
  flex-grow: 1;
}

@import 'header'; 
@import 'footer'; 
@import 'product';
@import 'goods-list';
@import 'products-list-header';